accelerate
bitsandbytes
datasets
flash-attn # --no-build-isolation
gradio-client
ninja
nltk
notebook
openai
peft
protobuf
python-dotenv
scikit-learn
sentencepiece
torch
tqdm
transformers
trl
wandb
llama-cpp-python[server]==0.2.55
